00_shared_logger.json
{
  "name": "[SHARED] Structured Logger",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "/*\n * SHARED STRUCTURED LOGGER\n * ─────────────────────────────────────────────────────────────────\n * Accepts a log envelope and fans out to all configured sinks.\n *\n * Expected input schema:\n * {\n *   level:      'DEBUG' | 'INFO' | 'WARN' | 'ERROR' | 'FATAL'\n *   workflow:   string          // calling workflow name\n *   event:      string          // machine-readable event code\n *   message:    string          // human-readable description\n *   traceId:    string          // propagated trace id\n *   data?:      object          // arbitrary structured context\n *   error?:     { message, stack, code }\n *   durationMs?: number\n * }\n */\n\nconst raw = $input.first().json;\n\n// ── Defaults & validation ──────────────────────────────────────────\nconst VALID_LEVELS = ['DEBUG', 'INFO', 'WARN', 'ERROR', 'FATAL'];\nconst level = VALID_LEVELS.includes(raw.level) ? raw.level : 'INFO';\n\nconst envelope = {\n  // Core identity\n  traceId:    raw.traceId    || `tr-${Date.now()}-${Math.random().toString(36).slice(2,8)}`,\n  timestamp:  new Date().toISOString(),\n  level,\n\n  // Source\n  workflow:   raw.workflow   || 'unknown-workflow',\n  event:      raw.event      || 'unspecified',\n  message:    raw.message    || '',\n\n  // Payload\n  data:       raw.data       || {},\n  error:      raw.error      || null,\n  durationMs: raw.durationMs || null,\n\n  // Runtime metadata\n  env:        process.env.NODE_ENV || 'production',\n  host:       process.env.N8N_HOST || 'n8n',\n};\n\n// ── Severity routing flags ─────────────────────────────────────────\nconst shouldAlertSlack  = ['WARN', 'ERROR', 'FATAL'].includes(level);\nconst shouldWriteSheets = true;   // always write every log entry\nconst isHighSeverity    = ['ERROR', 'FATAL'].includes(level);\n\n// ── Console sink (always — captured by log aggregators) ───────────\nconsole.log(JSON.stringify(envelope));\n\nreturn [{\n  json: {\n    envelope,\n    routing: {\n      shouldAlertSlack,\n      shouldWriteSheets,\n      isHighSeverity\n    }\n  }\n}];"
      },
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "fn.BuildLogEnvelope",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.routing.shouldWriteSheets}}",
              "value2": true
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "gate.WriteToSheets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 220]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.routing.shouldAlertSlack}}",
              "value2": true
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "gate.AlertSlack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{$env.LOG_SHEET_ID}}",
        "sheetName": "application_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp":   "={{$json.envelope.timestamp}}",
            "level":       "={{$json.envelope.level}}",
            "traceId":     "={{$json.envelope.traceId}}",
            "workflow":    "={{$json.envelope.workflow}}",
            "event":       "={{$json.envelope.event}}",
            "message":     "={{$json.envelope.message}}",
            "data":        "={{JSON.stringify($json.envelope.data)}}",
            "error":       "={{$json.envelope.error ? JSON.stringify($json.envelope.error) : ''}}",
            "durationMs":  "={{$json.envelope.durationMs || ''}}",
            "env":         "={{$json.envelope.env}}"
          }
        },
        "options": {}
      },
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "sink.GoogleSheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 140],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cred-google-sheets",
          "name": "Google Sheets — Service Account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format Slack alert based on severity level\nconst { envelope, routing } = $input.first().json;\n\nconst EMOJI = {\n  WARN:  '⚠️',\n  ERROR: '🔴',\n  FATAL: '💀'\n};\n\nconst COLOR = {\n  WARN:  '#FFA500',\n  ERROR: '#CC0000',\n  FATAL: '#000000'\n};\n\nconst emoji = EMOJI[envelope.level] || '📋';\nconst color = COLOR[envelope.level] || '#36A64F';\n\n// Build Slack Block Kit payload\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${emoji} [${envelope.level}] ${envelope.event}`, emoji: true }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Workflow:*\\n${envelope.workflow}` },\n      { type: 'mrkdwn', text: `*Level:*\\n${envelope.level}` },\n      { type: 'mrkdwn', text: `*Trace ID:*\\n\\`${envelope.traceId}\\`` },\n      { type: 'mrkdwn', text: `*Time:*\\n${envelope.timestamp}` }\n    ]\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Message:*\\n${envelope.message}` }\n  }\n];\n\nif (envelope.error) {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Error:*\\n\\`\\`\\`${JSON.stringify(envelope.error, null, 2).slice(0, 500)}\\`\\`\\`` }\n  });\n}\n\nif (envelope.durationMs) {\n  blocks.push({\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: `Duration: ${envelope.durationMs}ms` }]\n  });\n}\n\nblocks.push({ type: 'divider' });\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    slackPayload: {\n      channel: routing.isHighSeverity ? '#oncall-alerts' : '#automation-logs',\n      blocks,\n      text: `[${envelope.level}] ${envelope.workflow}: ${envelope.message}`,\n      attachments: [{ color }]\n    }\n  }\n}];"
      },
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "fn.BuildSlackPayload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "channel":   "={{$json.slackPayload.channel}}",
        "blocksUi":  { "blocksValues": "={{$json.slackPayload.blocks}}" },
        "text":      "={{$json.slackPayload.text}}",
        "otherOptions": {
          "attachments": "={{$json.slackPayload.attachments}}"
        }
      },
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "sink.Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1120, 420],
      "continueOnFail": true,
      "credentials": {
        "slackApi": {
          "id": "cred-slack",
          "name": "Slack — Automation Bot"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "fn.BuildLogEnvelope", "type": "main", "index": 0 }]]
    },
    "fn.BuildLogEnvelope": {
      "main": [[
        { "node": "gate.WriteToSheets?", "type": "main", "index": 0 },
        { "node": "gate.AlertSlack?",    "type": "main", "index": 0 }
      ]]
    },
    "gate.WriteToSheets?": {
      "main": [
        [{ "node": "sink.GoogleSheets", "type": "main", "index": 0 }],
        []
      ]
    },
    "gate.AlertSlack?": {
      "main": [
        [{ "node": "fn.BuildSlackPayload", "type": "main", "index": 0 }],
        []
      ]
    },
    "fn.BuildSlackPayload": {
      "main": [[{ "node": "sink.Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": ["shared", "infrastructure", "logging"],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "v2.0.0"
}
